### Author: Rodolfo Elenes

Date Created: 8/5/2025

Purpose: To create the table full of players gamelogs that will be used for studies

Change log:
- 8/5/2025 - Initialized
- 9/22/2025 - Added Injury transformation functions

##### Imports

In [ ]:
import pandas as pd
import numpy as np
import duckdb
import time
from pathlib import Path
import warnings
import traceback
pd.set_option('display.max_columns', None)
warnings.filterwarnings("ignore")

In [ ]:
%run ./common_utils.ipynb

##### Create gamelog functions

In [ ]:
def create_player_gamelog_csv(con_memory, player_name, pfr_id):
#   Function name: create_player_gamelog_csv
#   Description: This function is used to generate a dataframe that contains a player's gamelog
#   Parameters: con_memory, player_name, pfr_id
#        con_memory(DuckDB object): Connect to DuckDB session
#        player_name(str): First and Last name of a player, ex: Saquon Barkley
#        pfr_id(str): Pro Football Reference id used in each players URL to retrieve all gamelog information
#   Return values: df, status
#        df(pandas dataframe): The final dataframe that will be exported as a csv file
#        status: Tells the parent function this function's run result
    
    status = ""
    
    # Pickup regular season data
    lst_nm_initial = player_name[0].capitalize()  # Get last name initial
    time.sleep(6) # to respect website scraping policies
    url = f"https://www.pro-football-reference.com/players/{lst_nm_initial}/{pfr_id}/gamelog/"
    try:
        df = build_career_gmlog_df(url)
    except Exception as e:
        df = pd.DataFrame() # Have to return a value for df for pd.read_html() failures
        print("\nError:", e)
        print(f"Please check: {url}")
        traceback.print_exc()
        return df, status
            
    # Add playoffs data if available
    try:
        playoffs_df = build_career_gmlog_df(url, playoffs=True)
        df = pd.concat([df, playoffs_df])
    except:
        pass
        
    try:
        df = df_rebuild(con_memory, df, player_name, pfr_id)
        total_rush_att = df['RushAtt'].sum()
        if total_rush_att <= 268:   # sets minimum rushing attempt requirement for players to be saved
            print(f"Insufficient gamelog data for {player_name}. Player has {total_rush_att} rushing attempts logged.")
            status = "Insufficient data"
        else:
            print(f"Gamelog for {player_name}")
            display(df)
            status = "Save"
    except Exception as e:
        print(f"Unsupported gamelog schema for {player_name}. Please check: {url}")
        print("\nError:", e, "\n")
        traceback.print_exc()
        return df, status

        
    return df, status

In [ ]:
def build_career_gmlog_df(url, playoffs=False):
#   Function name: build_career_gmlog_df
#   Description: This function is used to scrape the raw dataframe of the player's gamelog from pfr's website 
#   Parameters: url, playoffs
#        url(str): The URL that points to a player's gamelog
#        playoffs(boolean): Tells the function to extract the regular season or playoffs table
#   Return values: df, status
#        df(pandas dataframe): The raw dataframe that will be transformed into the final dataframe
    
    if playoffs == True:
        df = pd.read_html(url, header=[0, 1])[1]
    else:
        df = pd.read_html(url, header=[0, 1])[0]
        
    # Fill top-level header missing values forward
    cols = pd.DataFrame(df.columns.tolist())
    cols.iloc[:, 0] = cols.iloc[:, 0].replace("Unnamed:.*", pd.NA, regex=True).fillna(method='ffill')
    # Rebuild MultiIndex
    df.columns = pd.MultiIndex.from_frame(cols)
    df = df[['NaN', 'Rushing', 'Receiving', 'Snap Counts']]

    # Then flatten as before
    df.columns = [
        f"{a}_{b}".strip('_') if b else a 
        for a, b in df.columns
    ]

    if playoffs == True:
        df['Season_type'] = "POST"
    else:
        df['Season_type'] = "REG"
        
    df = df.loc[:, ~df.columns.duplicated()] # Drops duplicate columns
    
    return df

In [ ]:
def df_rebuild(con_memory, df, player_name, pfr_id):
#   Function name: df_rebuild
#   Description: This function is used to take the raw dataframe and apply all necessary transformations
#   Parameters: con_memory, df
#        con_memory(DuckDB object): Connect to DuckDB session
#        df(pandas dataframe): The raw input dataframe
#   Return values: df, status
#        df(pandas dataframe): The final dataframe that will be saved as a csv file

    # Remove nan_ from Date and GS, rename Gcar col
    new_cols = []
    for col in df.columns:
        if "nan" in col:
            if col == 'nan_Gcar':  # Exclusively rename Gcar to CarGm
                col = 'CarGm'
            new_cols.append(col.replace("nan_", ""))
        else:
            new_cols.append(col)
    df.columns = new_cols

    # Add columns that are low priority
    process_columns = ['CarGm', 'Date', 'GS', 'Season_type', 'Week', 'Team', 'Rushing_Att', 'Rushing_Yds', 'Rushing_TD', 'Receiving_Tgt', 'Receiving_Rec', 'Receiving_Yds', 'Receiving_TD', 'Snap Counts_OffSnp', 'Snap Counts_STSnp']
    for col in process_columns:
        if col not in ['Snap Counts_OffSnp', 'Snap Counts_STSnp']:
            continue
        if col not in df.columns:
            df[col] = 0
    df = df[process_columns]
    
    # filter out rows that do not contain games (i.e. header rows, summary rows, etc.)
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
    df = df.dropna(subset=['Date']).reset_index(drop = True)
    
    # Create Season column
    min_year = (df['Date'].min().year) - 1  # subtracting for players who debutted in next calendar year
    max_year = df['Date'].max().year
    df['Season'] = ''
    for i in range(max_year, min_year - 1, -1):
        start_date = f"{i}-08-01"
        end_date = f"{i + 1}-03-01"
        date_filter = (df['Date'] > start_date) & (df['Date'] <= end_date)
        df["Season"] = np.where(date_filter, i, df["Season"])

    # Final column rename
    edit_df_cols = df.columns.tolist()
    final_columns = ['CarGm', 'Date', 'GS', 'Season_type', 'Week', 'Team', 'RushAtt', 'RushYds', 'RushTD', 'Tgt', 'Rec', 'RecYds', 'RecTD', 'OffSnp', 'STSnp', 'Season']
    for i in range(df.shape[1]):
        edit_df_cols[i] = final_columns[i]
    df.columns = edit_df_cols
    
    df['GS'] = np.where(df['GS'] == '*', 1, 0)  # make Game Started column binary
    df = apply_schema(df)
        
    # Final order
    df['Player'] = ''
    df['pfr_id'] = ''
    column_order = ['CarGm', 'Team', 'Player', 'pfr_id', 'Date', 'Season', 'Week', 'Season_type', 'GS', 'RushAtt', 'RushYds', 'RushTD', 
                    'Tgt', 'Rec', 'RecYds', 'RecTD', 'OffSnp', 'STSnp']
    df = df[column_order].sort_values("Date").reset_index(drop=True)
    df['CarGm'] = range(1, len(df) + 1) # Numerize the Career Games based off the Dates
    df = add_DNP_rows(df, player_name)
    df = trnsfrm_bye_weeks(df)
    df = add_DNP_dates(con_memory, df)
    df = trnsfrm_susp_weeks(df, player_name)
    df['Player'] = player_name
    df['pfr_id'] = pfr_id
    df = df[(df.Season != 2025)]
    df = trnsfrm_inj_weeks(df)
    df = infer_inj_weeks(df)
    
    return df

In [ ]:
def apply_schema(df):
#   Function name: apply_schema
#   Description: This function is used to apply the correct dataframe schema
#   Parameters: df
#        input_df(pandas dataframe): The input dataframe
#   Return values: df, status
#        df(pandas dataframe): The transformed dataframe with correct datatypes schema

    # apply proper schema
    int_cols = ['CarGm', 'Season', 'Week', 'GS', 'RushAtt', 'RushYds', 'RushTD', 'Tgt', 'Rec', 'RecYds', 'RecTD', 'OffSnp', 'STSnp']
    for col in int_cols:                
        if col not in ['CarGm', 'Season', 'Week', 'GS'] and df[col].isna().any():
            df[col] = df[col].fillna(0)
        df[col] = df[col].astype(float).astype(int)
    df['Date'] = pd.to_datetime(df['Date'], errors='coerce').dt.strftime('%Y-%m-%d')

    return df

##### DNP rows transformation functions

In [ ]:
def add_DNP_rows(input_df, player_name):
#   Function name: add_DNP_rows
#   Description: This function is used to add missing DNP rows to the dataframe
#   Parameters: input_df, player_name
#        input_df(pandas dataframe): The input dataframe
#        player_name(str): Name of the player
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with DNP rows

    con_memory = duckdb.connect(database=':memory:')
    career_seasons = input_df['Season'].unique().tolist() # get the seasons in a list

    df_gamelog = input_df[(input_df['Season_type'] == 'REG')] # exclude playoffs rows
    df_playoffs = input_df[(input_df['Season_type'] == 'POST')] # store playoffs rows
    inpt_cols = input_df.columns
    df = pd.DataFrame(columns = inpt_cols)

    # split df_gamelog by seasons
    for season in career_seasons:
        df_season = df_gamelog[(df_gamelog['Season']) == season]
        if season >= 2021:
            week_games = list(range(1, 19))
        else:
            week_games = list(range(1, 18))

        df_DNP = pd.DataFrame(columns = inpt_cols)
        games_played = df_season['Week'].tolist()  # get weeks value from season
        weeks_missed = list(set(week_games) - set(games_played))  # get games missed

        #add DNP rows
        for week in weeks_missed:        
            df_DNP.loc[-1] = {'Week': week, 'Season_type': 'DNP', 'Season': season}  # Add DNP row
            df_DNP = df_DNP.reset_index(drop=True)

        df_season = pd.concat([df_season, df_DNP]).sort_values('Week').reset_index(drop=True)
        df_season['Team'] = df_season['Team'].ffill()  # fills DNP week with correct team
        if df_season['Team'].isna().any(): # in case forward fill doesnt work due to a player beginning the season injured
            df_season['Team'] = df_season['Team'].bfill()
        df_season = df_season.fillna(0)
        df = pd.concat([df, df_season])

    df = pd.concat([df, df_playoffs])
    df = df.sort_values(by = ['Season', 'Week']).reset_index(drop=True)
    
    # Add missing seasons
    df_sched = pd.read_csv(f"../tables/nfl_team_schedules/nfl_team_schedules.csv")
    df_roster = construct_df_roster(con_memory)
    df_roster = df_roster[(df_roster.Player == player_name)]

    gamelog_szns = df.Season.unique().tolist()
    roster_szns = df_roster.Season.unique().tolist()

    if gamelog_szns != roster_szns:
        missing_szns_chk = all(b - a == 1 for a, b in zip(gamelog_szns, gamelog_szns[1:]))
    else:
        missing_szns_chk = True

    if missing_szns_chk == False:
        missing_szns = list(set(roster_szns) - set(gamelog_szns))
        for year in missing_szns:
            if year >= 2021:
                week_games = list(range(1, 19))
            else:
                week_games = list(range(1, 18))

            df_temp = df[(df.Season == (year - 1))].reset_index(drop=True)
            df_temp2 = df_roster[(df_roster.Season == year)].reset_index(drop=True)

            df_mss_sched = df_sched[(df_sched.Team == df_temp2.iloc[0].loc['Team']) & (df_sched.Season == year)]   
            df_temp.loc[-1] = {'CarGm': 0, 'Date': df_mss_sched.Date.tolist(), 'Season': year, 'Season_type': 'DNP', 
                               'Team': df_temp2.iloc[0].loc['ABV'], 'Week': df_mss_sched.Week.tolist()}
            df_temp = df_temp.explode(['Date', 'Week'])
            df_temp = df_temp[(df_temp.Season == year) & (df_temp.Week.isin(week_games))].fillna(0)
            df = pd.concat([df, df_temp]).sort_values(by=['Season', 'Week']).reset_index(drop=True)
    
    df = apply_schema(df)
    con_memory.close()
    
    return df

In [ ]:
def trnsfrm_bye_weeks(df):
#   Function name: find_bye_weeks
#   Description: This function is used to correctly identify the bye weeks on DNP rows
#   Parameters: df
#        df(pandas dataframe): The input dataframe
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with BYE week rows

    df_fltrd = df[(df["Season_type"] == 'DNP')]
    teams_played_for = df_fltrd['Team'].unique().tolist()
    years_played_for = df_fltrd['Season'].unique().tolist()

    df_teams = construct_df_teams()

    # Get all the bye weeks relevant to the player
    df_bye = pd.read_csv("../tables/bye_weeks_xref/bye_weeks_xref.csv")
    df_bye = pd.merge(df_bye, df_teams, on=['Team', 'PFR_ABV'], how='inner')
    df_bye = df_bye[df_bye.ABV.isin(teams_played_for)].reset_index(drop=True)
    df_bye = df_bye[df_bye.Season.isin(years_played_for)].reset_index(drop=True)
    df_bye = df_bye[['ABV', 'Season', 'Bye Week']]
    
    # Match the correct bye week to the players log on DNP rows
    merged_df = pd.merge(df_fltrd, df_bye, left_on=['Team', 'Season'], right_on=['ABV', 'Season'], how='inner')
    merged_df = merged_df[(merged_df["Week"] == merged_df["Bye Week"])]
    merged_df['Season_type'] = "BYE"
    merged_df = merged_df[df.columns].reset_index(drop=True)

    # Apply BYE week rows to the final df
    for row in range(merged_df.shape[0]):
        week_entry = merged_df.loc[row]
        season = week_entry.loc['Season']
        week = week_entry.loc['Week']
        index_row = df[(df['Season'] == season) & (df['Week'] == week)].index[0]
        df.loc[index_row] = week_entry
    
    
    return df

In [ ]:
def add_DNP_dates(con_memory, df):
#   Function name: add_DNP_dates
#   Description: Fill in correct dates for DNP rows
#   Parameters: con_memory, df
#        con_memory(DuckDB object): Connect to DuckDB session
#        df(pandas dataframe): The input dataframe
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with filled out dates column

    df_sched = pd.read_csv("../tables/nfl_team_schedules/nfl_team_schedules.csv")
    df_DNP = df[(df["Season_type"] == 'DNP')]
    df_teams = construct_df_teams()

    df_sched = con_memory.execute(f"""SELECT df_sched.*, df_teams.ABV FROM df_sched 
                                 JOIN df_teams ON df_sched.Team = df_teams.Team""").fetchdf()

    df_DNP = con_memory.execute(f"""SELECT df_DNP.*, df_teams.Team as Team_Name FROM df_DNP 
                                 JOIN df_teams ON df_DNP.Team = df_teams.ABV""").fetchdf()

    df_DNP = con_memory.execute(f""" SELECT CarGm, df_sched.Date, df_DNP.* EXCLUDE (Team_Name, Date, CarGm)
                                 FROM df_sched JOIN df_DNP 
                                 ON df_sched.Team = df_DNP.Team_Name 
                                 AND df_sched.Season = df_DNP.Season AND df_sched.Week = df_DNP.Week 
                                 ORDER BY df_sched.Date""").fetchdf()
    
    df = df[(df['Season_type'] != 'DNP')]
    df = pd.concat([df, df_DNP]).sort_values(by=['Season', 'Week']).reset_index(drop=True)

    return df

In [14]:
def trnsfrm_susp_weeks(df, player_name):
#   Function name: trnsfrm_susp_weeks
#   Description: Transform DNP weeks into SUSP (suspended) rows based off the susp_weeks_xref.csv table
#   Parameters: df, player_name
#        df(pandas dataframe): The input dataframe
#        player_name(str): Name of the player
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with target DNP rows transformed to SUSP

    szns_plyd = df.Season.unique().tolist()
    df_teams = construct_df_teams()
    df_susp = pd.read_csv("../tables/susp_weeks_xref.csv")
    df_susp = df_susp[(df_susp.Player == player_name) & (df_susp.Season.isin(szns_plyd))].reset_index(drop=True)

    for row in range(df_susp.shape[0]):
        susp_entry = df_susp.loc[row]
        if "game" in susp_entry.loc['Susp_len'].lower():      # For entries of x games suspensions
            susp_entry['Susp_len'] = int(susp_entry.Susp_len.split(" ")[0])
            susp_date = susp_entry.loc['Date']
            susp_len = susp_entry.loc['Susp_len']
            df_susp_dates = df[(df.Date >= susp_date) & (df["Season_type"] == 'DNP')]
            df_susp_dates = df_susp_dates.head(susp_len)
            df_susp_dates['Season_type'] = 'SUSP'
            idx_list = df_susp_dates.index.tolist()
            df.loc[idx_list] = df_susp_dates.loc[idx_list]
        else:                                                 # For entries of Entire xxxx Season suspensions
            susp_date = susp_entry.loc['Date']
            susp_szn = susp_entry.loc['Season']
            df_susp_dates = df[(df.Date >= susp_date) & (df["Season_type"] == 'DNP') & (df["Season"] == susp_szn)]
            df_susp_dates['Season_type'] = 'SUSP'
            idx_list = df_susp_dates.index.tolist()
            df.loc[idx_list] = df_susp_dates.loc[idx_list]
    df['SUSP'] = np.where((df.Season_type == 'SUSP'), 1, 0)

    return df

In [15]:
def trnsfrm_inj_weeks(df):
#   Function name: trnsfrm_inj_weeks
#   Description: Transform DNP weeks into INJ or INJ & SUSP based off df_inj
#   Parameters: df
#        df(pandas dataframe): The input dataframe
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with target DNP + SUSP rows transformed to INJ or INJ & SUSP

    df['INJ'] = 0
    df_inj = pd.read_csv("../src/wkly_nfl_inj_reports.csv")
    df_inj['INJ'] = 1
    df_inj = df_inj[(df_inj.Position.isin(['RB', 'FB', 'HB']) & ~(df_inj['Game Status'].isnull()))][['Season', 'Week', 'Player', 'Game Status', 'Injuries']]
    df_merge = pd.merge(df, df_inj, on=['Season', 'Week', 'Player', 'Team'])
    if df_merge.shape[0] > 0:
        df2 = df_merge[(df_merge.Season_type.isin(['DNP', 'SUSP']))]
        inj_dates = df2.Date.tolist()
        df2['INJ'] = np.where(df2.Date.isin(inj_dates), 1, 0)
        df2['Season_type'] = np.where((df2.INJ == 1) & (df2.Season_type == 'DNP'), 'INJ', df2.Season_type)
        df2['Season_type'] = np.where((df2.INJ == 1) & (df2.SUSP == 1), 'INJ & SUSP', df2.Season_type)
        df = df[~(df.Date.isin(inj_dates))]
        df = pd.concat([df, df2]).sort_values(by=['Season', 'Week']).reset_index(drop=True)
    else:
        df['Game Status'] = np.nan
        df['Injuries'] = np.nan

    return df

In [38]:
def infer_inj_weeks(df):
#   Function name: infer_inj_weeks
#   Description: Fill DNP rows with INJ whereever its applicable
#   Parameters: df
#        df(pandas dataframe): The input dataframe
#   Return values: df
#        df(pandas dataframe): The transformed dataframe with inferred INJ weeks

    df_temp = df[(df.Season_type.isin(['DNP', 'BYE']))]
    seasons = df_temp.Season.unique().tolist()

    for year in seasons:
        df_temp2 = df_temp[(df_temp.Season == year)]
        dnp_weeks = df_temp2.Week.tolist()
        dnp_weeks.sort()

        inj_weeks = []
        big_injury = False
        for i in dnp_weeks:
            if i == dnp_weeks[-1]:
                continue
            subtract = dnp_weeks[dnp_weeks.index(i) + 1] - i # Compare first week in dnp_weeks list and the next one
            if subtract == 1:
                inj_weeks.append(dnp_weeks[dnp_weeks.index(i) + 1])
                inj_weeks.append(i)
            else:
                if big_injury == True:
                    df['Season_type'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks)) & (df.Season_type != 'BYE')), \
                                                     'INJ', df.Season_type)
                    df['INJ'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 1, df.INJ)
                    df['Game Status'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Out', df['Game Status'])
                    df['Injuries'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Inferred', df['Injuries'])
                    big_injury = False
                inj_weeks.clear()

            inj_weeks = sorted(list(set(inj_weeks)))
            if len(inj_weeks) >= 4: # Four DNP rows in a row will update DNP rows to INJ
                big_injury = True

        if big_injury == True:
            df['Season_type'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'INJ', df.Season_type)
            df['INJ'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 1, df.INJ)
            df['Game Status'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Out', df['Game Status'])
            df['Injuries'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Inferred', df['Injuries'])
            
    return df

###### Main

In [40]:
def main():
#   Function name: main
#   Description: The entry function of the notebook

    con_memory = duckdb.connect(database=':memory:')
    print("All players that will have gamelog data scraped.")
    player_db = pd.read_csv("../tables/players_xref.csv")
    fltrd_player_db = player_db[player_db['gm_log_rtrvd'] == 0].reset_index(drop = True)
    player_count = 1
    display(fltrd_player_db)
    
    for row in range(player_db.shape[0]):
        player_entry = player_db.loc[row]
        player_name = player_entry.loc['Player']
        pfr_id = player_entry.loc['pfr_id']
        gm_log_rtrvd = player_entry.loc['gm_log_rtrvd']
        
        if gm_log_rtrvd == 0:
            print(f"Player ({player_count}/{fltrd_player_db.shape[0]}): {player_name}")
            df, status = create_player_gamelog_csv(con_memory, player_name, pfr_id)
            
            if status == "Save":
                gm_log_entry = 1 # Successful save
                save_df(df, "../tables/players_gamelogs/players", f"{player_name}_gamelog.csv")
            elif status == "Insufficient data":
                gm_log_entry = 2 # Insufficient data
            else:
                gm_log_entry = 3 # Failed save (lets me know to debug)
            
            player_db.loc[row, 'gm_log_rtrvd'] = gm_log_entry
            player_db.to_csv("../tables/players_xref.csv", index = False)
            print(f"Updated gm_log_rtrvd entry to {gm_log_entry} in players_ref.csv for {player_name}")
            player_count = player_count + 1
        else:
            continue

    print(f"Completed acquiring gamelog for {fltrd_player_db.shape[0]} players.")
    con_memory.close()
    
    if fltrd_player_db.shape[0] > 0:
        concatenate_all_files('players_gamelogs', 'players')
    
main()

All players that will have gamelog data scraped.

,Team,ABV,Season,Position,Player,pfr_id,Birth_date,Age,Years_exp,Entry_year,Height,Weight,gm_log_rtrvd
0,Minnesota Vikings,MIN,2024,RB,Aaron Jones,JoneAa00,12/2/1994,29,7,2017,69,208,0
1,Atlanta Falcons,ATL,2009,RB,Aaron Stecker,StecAa00,11/13/1975,33,10,2000,70,213,0
2,Dallas Cowboys,DAL,2003,RB,Adrian Murrell,MurrAd00,10/16/1970,32,10,1993,71,210,0
3,Seattle Seahawks,SEA,2021,RB,Adrian Peterson,PeteAd01,3/21/1985,35,14,2011,73,220,0
4,Indianapolis Colts,IND,2015,RB,Ahmad Bradshaw,BradAh00,3/19/1986,28,8,2011,70,217,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,Pittsburgh Steelers,PIT,2009,RB,Willie Parker,ParkWi00,11/11/1980,28,5,2004,70,209,0
438,Cleveland Browns,CLE,2013,RB,Willis McGahee,McGaWi00,10/21/1981,31,10,2006,72,235,0
439,New York Jets,NYJ,2015,RB,Zac Stacy,StacZa00,4/9/1991,23,2,2013,69,224,0
440,Dallas Cowboys,DAL,2007,RB,Zack Crockett,CrocZa00,12/2/1972,34,12,1996,74,240,0
441,Cincinnati Bengals,CIN,2024,RB,Zack Moss,MossZa00,12/15/1997,26,4,2020,70,215,0

Player (1/442): Aaron Jones
Gamelog for Aaron Jones

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,GNB,Aaron Jones,JoneAa00,2017-09-10,2017,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,GNB,Aaron Jones,JoneAa00,2017-09-17,2017,2,REG,0,0,0,0,0,0,0,0,0,8,0,0,NaN,NaN
2,2,GNB,Aaron Jones,JoneAa00,2017-09-24,2017,3,REG,0,0,0,0,0,0,0,0,0,12,0,0,NaN,NaN
3,3,GNB,Aaron Jones,JoneAa00,2017-09-28,2017,4,REG,0,13,49,1,0,0,0,0,30,8,0,0,NaN,NaN
4,4,GNB,Aaron Jones,JoneAa00,2017-10-08,2017,5,REG,1,19,125,1,1,1,9,0,53,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143,118,MIN,Aaron Jones,JoneAa00,2024-12-16,2024,15,REG,1,18,86,1,3,2,20,0,47,0,0,0,NaN,NaN
144,119,MIN,Aaron Jones,JoneAa00,2024-12-22,2024,16,REG,1,18,67,0,5,3,26,0,54,0,0,0,NaN,NaN
145,120,MIN,Aaron Jones,JoneAa00,2024-12-29,2024,17,REG,1,12,47,0,5,4,30,0,37,0,0,0,NaN,NaN
146,121,MIN,Aaron Jones,JoneAa00,2025-01-05,2024,18,REG,1,10,45,0,6,5,30,0,40,0,0,0,NaN,NaN
147,122,MIN,Aaron Jones,JoneAa00,2025-01-13,2024,19,POST,1,13,48,0,6,3,12,0,53,0,0,0,NaN,NaN

Saving Aaron Jones_gamelog.csv at ../tables/players_gamelogs/players/Aaron Jones_gamelog.csv
Successfully saved Aaron Jones_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Aaron Jones
Player (2/442): Aaron Stecker
Gamelog for Aaron Stecker

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,TAM,Aaron Stecker,StecAa00,2000-09-03,2000,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,TAM,Aaron Stecker,StecAa00,2000-09-10,2000,2,REG,0,5,26,0,0,0,0,0,0,0,0,0,NaN,NaN
2,2,TAM,Aaron Stecker,StecAa00,2000-09-17,2000,3,REG,0,3,2,0,0,0,0,0,0,0,0,0,NaN,NaN
3,3,TAM,Aaron Stecker,StecAa00,2000-09-24,2000,4,REG,0,1,-2,0,0,0,0,0,0,0,0,0,NaN,NaN
4,4,TAM,Aaron Stecker,StecAa00,2000-10-01,2000,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,131,ATL,Aaron Stecker,StecAa00,2009-12-06,2009,13,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
171,132,ATL,Aaron Stecker,StecAa00,2009-12-13,2009,14,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
172,133,ATL,Aaron Stecker,StecAa00,2009-12-20,2009,15,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
173,134,ATL,Aaron Stecker,StecAa00,2009-12-27,2009,16,REG,0,3,9,0,0,0,0,0,0,0,0,0,NaN,NaN
174,135,ATL,Aaron Stecker,StecAa00,2010-01-03,2009,17,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN

Saving Aaron Stecker_gamelog.csv at ../tables/players_gamelogs/players/Aaron Stecker_gamelog.csv
Successfully saved Aaron Stecker_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Aaron Stecker
Player (3/442): Adrian Murrell
Gamelog for Adrian Murrell

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NYJ,Adrian Murrell,MurrAd00,1993-09-05,1993,1,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
1,2,NYJ,Adrian Murrell,MurrAd00,1993-09-12,1993,2,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,0,NYJ,Adrian Murrell,MurrAd00,NaN,1993,3,BYE,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
3,3,NYJ,Adrian Murrell,MurrAd00,1993-09-26,1993,4,REG,0,8,52,1,3,3,12,0,0,0,0,0,nan,nan
4,4,NYJ,Adrian Murrell,MurrAd00,1993-10-03,1993,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,0,DAL,Adrian Murrell,MurrAd00,2003-11-27,2003,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
152,0,DAL,Adrian Murrell,MurrAd00,2003-12-07,2003,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
153,0,DAL,Adrian Murrell,MurrAd00,2003-12-14,2003,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
154,0,DAL,Adrian Murrell,MurrAd00,2003-12-21,2003,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
155,0,DAL,Adrian Murrell,MurrAd00,2003-12-28,2003,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Adrian Murrell_gamelog.csv at ../tables/players_gamelogs/players/Adrian Murrell_gamelog.csv
Successfully saved Adrian Murrell_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Adrian Murrell
Player (4/442): Adrian Peterson
Gamelog for Adrian Peterson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,MIN,Adrian Peterson,PeteAd01,2007-09-09,2007,1,REG,0,19,103,0,1,1,60,1,0,0,0,0,NaN,NaN
1,2,MIN,Adrian Peterson,PeteAd01,2007-09-16,2007,2,REG,1,20,66,0,5,4,52,0,0,0,0,0,NaN,NaN
2,3,MIN,Adrian Peterson,PeteAd01,2007-09-23,2007,3,REG,1,25,102,1,3,3,48,0,0,0,0,0,NaN,NaN
3,4,MIN,Adrian Peterson,PeteAd01,2007-09-30,2007,4,REG,0,12,112,0,3,1,6,0,0,0,0,0,NaN,NaN
4,0,MIN,Adrian Peterson,PeteAd01,NaN,2007,5,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,0,SEA,Adrian Peterson,PeteAd01,2021-12-12,2021,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
257,0,SEA,Adrian Peterson,PeteAd01,2021-12-21,2021,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
258,0,SEA,Adrian Peterson,PeteAd01,2021-12-26,2021,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
259,0,SEA,Adrian Peterson,PeteAd01,2022-01-02,2021,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
260,0,SEA,Adrian Peterson,PeteAd01,2022-01-09,2021,18,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Adrian Peterson_gamelog.csv at ../tables/players_gamelogs/players/Adrian Peterson_gamelog.csv
Successfully saved Adrian Peterson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Adrian Peterson
Player (5/442): Ahmad Bradshaw
Gamelog for Ahmad Bradshaw

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NYG,Ahmad Bradshaw,BradAh00,2007-09-09,2007,1,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,2,NYG,Ahmad Bradshaw,BradAh00,2007-09-16,2007,2,REG,0,0,0,0,1,1,11,0,0,0,0,0,NaN,NaN
2,3,NYG,Ahmad Bradshaw,BradAh00,2007-09-23,2007,3,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
3,4,NYG,Ahmad Bradshaw,BradAh00,2007-09-30,2007,4,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
4,0,NYG,Ahmad Bradshaw,BradAh00,2007-10-07,2007,5,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,0,IND,Ahmad Bradshaw,BradAh00,2015-12-06,2015,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
158,0,IND,Ahmad Bradshaw,BradAh00,2015-12-13,2015,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
159,0,IND,Ahmad Bradshaw,BradAh00,2015-12-20,2015,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
160,0,IND,Ahmad Bradshaw,BradAh00,2015-12-27,2015,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
161,0,IND,Ahmad Bradshaw,BradAh00,2016-01-03,2015,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Ahmad Bradshaw_gamelog.csv at ../tables/players_gamelogs/players/Ahmad Bradshaw_gamelog.csv
Successfully saved Ahmad Bradshaw_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Ahmad Bradshaw
Player (6/442): Ahman Green
Gamelog for Ahman Green

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,SEA,Ahman Green,GreeAh00,1998-09-06,1998,1,REG,0,6,100,1,1,1,-1,0,0,0,0,0,NaN,NaN
1,2,SEA,Ahman Green,GreeAh00,1998-09-13,1998,2,REG,0,7,21,0,0,0,0,0,0,0,0,0,NaN,NaN
2,3,SEA,Ahman Green,GreeAh00,1998-09-20,1998,3,REG,0,6,26,0,2,1,0,0,0,0,0,0,NaN,NaN
3,4,SEA,Ahman Green,GreeAh00,1998-09-27,1998,4,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
4,5,SEA,Ahman Green,GreeAh00,1998-10-04,1998,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,152,GNB,Ahman Green,GreeAh00,2009-12-13,2009,14,REG,0,5,11,0,0,0,0,0,0,0,0,0,NaN,NaN
208,153,GNB,Ahman Green,GreeAh00,2009-12-20,2009,15,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
209,154,GNB,Ahman Green,GreeAh00,2009-12-27,2009,16,REG,0,8,29,1,0,0,0,0,0,0,0,0,NaN,NaN
210,155,GNB,Ahman Green,GreeAh00,2010-01-03,2009,17,REG,0,12,42,0,0,0,0,0,0,0,0,0,NaN,NaN
211,156,GNB,Ahman Green,GreeAh00,2010-01-10,2009,18,POST,0,3,5,0,0,0,0,0,0,0,0,0,NaN,NaN

Saving Ahman Green_gamelog.csv at ../tables/players_gamelogs/players/Ahman Green_gamelog.csv
Successfully saved Ahman Green_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Ahman Green
Player (7/442): AJ Dillon
Gamelog for AJ Dillon

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,GNB,AJ Dillon,DillAJ00,2020-09-13,2020,1,REG,0,2,14,0,0,0,0,0,5,0,0,0,NaN,NaN
1,2,GNB,AJ Dillon,DillAJ00,2020-09-20,2020,2,REG,0,5,17,0,0,0,0,0,7,5,0,0,NaN,NaN
2,3,GNB,AJ Dillon,DillAJ00,2020-09-27,2020,3,REG,0,0,0,0,0,0,0,0,0,6,0,0,NaN,NaN
3,4,GNB,AJ Dillon,DillAJ00,2020-10-05,2020,4,REG,0,1,3,0,0,0,0,0,3,6,0,0,NaN,NaN
4,0,GNB,AJ Dillon,DillAJ00,NaN,2020,5,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0,GNB,AJ Dillon,DillAJ00,2024-12-05,2024,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
87,0,GNB,AJ Dillon,DillAJ00,2024-12-15,2024,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
88,0,GNB,AJ Dillon,DillAJ00,2024-12-23,2024,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
89,0,GNB,AJ Dillon,DillAJ00,2024-12-29,2024,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
90,0,GNB,AJ Dillon,DillAJ00,2025-01-05,2024,18,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving AJ Dillon_gamelog.csv at ../tables/players_gamelogs/players/AJ Dillon_gamelog.csv
Successfully saved AJ Dillon_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for AJ Dillon
Player (8/442): Albert Bentley
Gamelog for Albert Bentley

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,IND,Albert Bentley,BentAl00,1985-09-08,1985,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
1,1,IND,Albert Bentley,BentAl00,1985-09-15,1985,2,REG,0,3,15,0,1,1,6,0,0,0,0,0,nan,nan
2,2,IND,Albert Bentley,BentAl00,1985-09-22,1985,3,REG,0,4,23,0,2,1,9,0,0,0,0,0,nan,nan
3,3,IND,Albert Bentley,BentAl00,1985-09-29,1985,4,REG,0,8,15,0,2,1,-1,0,0,0,0,0,nan,nan
4,4,IND,Albert Bentley,BentAl00,1985-10-06,1985,5,REG,1,17,100,0,3,3,19,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127,0,PIT,Albert Bentley,BentAl00,1992-11-29,1992,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
128,0,PIT,Albert Bentley,BentAl00,1992-12-06,1992,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
129,0,PIT,Albert Bentley,BentAl00,1992-12-13,1992,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
130,0,PIT,Albert Bentley,BentAl00,1992-12-20,1992,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
131,0,PIT,Albert Bentley,BentAl00,1992-12-27,1992,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Albert Bentley_gamelog.csv at ../tables/players_gamelogs/players/Albert Bentley_gamelog.csv
Successfully saved Albert Bentley_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Albert Bentley
Player (9/442): Alex Collins
Gamelog for Alex Collins

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,SEA,Alex Collins,CollAl00,2016-09-11,2016,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,1,SEA,Alex Collins,CollAl00,2016-09-18,2016,2,REG,0,2,0,0,0,0,0,0,4,0,0,0,NaN,NaN
2,2,SEA,Alex Collins,CollAl00,2016-09-25,2016,3,REG,0,4,12,0,2,2,19,0,18,0,0,0,NaN,NaN
3,3,SEA,Alex Collins,CollAl00,2016-10-02,2016,4,REG,0,1,1,0,0,0,0,0,6,0,0,0,NaN,NaN
4,0,SEA,Alex Collins,CollAl00,1970-01-01,2016,5,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,53,SEA,Alex Collins,CollAl00,2021-12-12,2021,14,REG,0,7,16,0,1,1,1,0,14,0,0,0,NaN,NaN
85,0,SEA,Alex Collins,CollAl00,2021-12-21,2021,15,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
86,0,SEA,Alex Collins,CollAl00,2021-12-26,2021,16,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
87,0,SEA,Alex Collins,CollAl00,2022-01-02,2021,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Questionable,Abdomen
88,0,SEA,Alex Collins,CollAl00,2022-01-09,2021,18,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN

Saving Alex Collins_gamelog.csv at ../tables/players_gamelogs/players/Alex Collins_gamelog.csv
Successfully saved Alex Collins_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alex Collins
Player (10/442): Alexander Mattison
Gamelog for Alexander Mattison

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,MIN,Alexander Mattison,MattAl01,2019-09-08,2019,1,REG,0,9,49,0,0,0,0,0,12,0,0,0,NaN,NaN
1,2,MIN,Alexander Mattison,MattAl01,2019-09-15,2019,2,REG,0,4,25,0,0,0,0,0,8,0,0,0,NaN,NaN
2,3,MIN,Alexander Mattison,MattAl01,2019-09-22,2019,3,REG,0,12,58,1,0,0,0,0,19,0,0,0,NaN,NaN
3,4,MIN,Alexander Mattison,MattAl01,2019-09-29,2019,4,REG,0,2,5,0,1,1,8,0,6,0,0,0,NaN,NaN
4,5,MIN,Alexander Mattison,MattAl01,2019-10-06,2019,5,REG,0,7,52,0,0,0,0,0,16,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,0,LVR,Alexander Mattison,MattAl01,2024-12-08,2024,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Questionable,Ankle
105,89,LVR,Alexander Mattison,MattAl01,2024-12-16,2024,15,REG,0,7,21,0,4,2,3,0,22,0,0,0,NaN,NaN
106,90,LVR,Alexander Mattison,MattAl01,2024-12-22,2024,16,REG,1,12,27,1,7,4,29,0,42,0,0,0,NaN,NaN
107,91,LVR,Alexander Mattison,MattAl01,2024-12-29,2024,17,REG,0,10,32,0,3,1,6,0,24,0,0,0,NaN,NaN
108,92,LVR,Alexander Mattison,MattAl01,2025-01-05,2024,18,REG,1,6,20,0,5,4,11,0,37,0,0,0,NaN,NaN

Saving Alexander Mattison_gamelog.csv at ../tables/players_gamelogs/players/Alexander Mattison_gamelog.csv
Successfully saved Alexander Mattison_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alexander Mattison
Player (11/442): Alfred Anderson
Gamelog for Alfred Anderson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,MIN,Alfred Anderson,AndeAl00,1984-09-02,1984,1,REG,0,2,14,0,1,1,7,0,0,0,0,0,nan,nan
1,2,MIN,Alfred Anderson,AndeAl00,1984-09-09,1984,2,REG,0,20,105,1,2,2,2,0,0,0,0,0,nan,nan
2,3,MIN,Alfred Anderson,AndeAl00,1984-09-16,1984,3,REG,1,17,79,0,3,1,0,0,0,0,0,0,nan,nan
3,4,MIN,Alfred Anderson,AndeAl00,1984-09-23,1984,4,REG,1,19,120,0,2,1,-6,0,0,0,0,0,nan,nan
4,5,MIN,Alfred Anderson,AndeAl00,1984-09-30,1984,5,REG,1,21,69,0,1,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,111,MIN,Alfred Anderson,AndeAl00,1991-11-24,1991,13,REG,0,2,6,0,0,0,0,0,0,0,0,0,nan,nan
134,0,MIN,Alfred Anderson,AndeAl00,NaN,1991,14,BYE,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
135,112,MIN,Alfred Anderson,AndeAl00,1991-12-08,1991,15,REG,0,1,0,0,0,0,0,0,0,0,0,0,nan,nan
136,113,MIN,Alfred Anderson,AndeAl00,1991-12-15,1991,16,REG,1,4,19,0,0,0,0,0,0,0,0,0,nan,nan
137,114,MIN,Alfred Anderson,AndeAl00,1991-12-21,1991,17,REG,0,1,0,0,1,0,0,0,0,0,0,0,nan,nan

Saving Alfred Anderson_gamelog.csv at ../tables/players_gamelogs/players/Alfred Anderson_gamelog.csv
Successfully saved Alfred Anderson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alfred Anderson
Player (12/442): Alfred Blue
Gamelog for Alfred Blue

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,HOU,Alfred Blue,BlueAl00,2014-09-07,2014,1,REG,0,1,0,0,0,0,0,0,2,17,0,0,NaN,NaN
1,2,HOU,Alfred Blue,BlueAl00,2014-09-14,2014,2,REG,0,11,40,0,0,0,0,0,13,16,0,0,NaN,NaN
2,3,HOU,Alfred Blue,BlueAl00,2014-09-21,2014,3,REG,1,13,78,0,1,1,10,0,33,8,0,0,NaN,NaN
3,4,HOU,Alfred Blue,BlueAl00,2014-09-28,2014,4,REG,0,9,9,0,3,2,16,0,32,12,0,0,NaN,NaN
4,5,HOU,Alfred Blue,BlueAl00,2014-10-05,2014,5,REG,0,5,16,0,0,0,0,0,11,12,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,73,HOU,Alfred Blue,BlueAl00,2018-12-09,2018,14,REG,0,6,21,1,1,0,0,0,22,5,0,0,NaN,NaN
85,74,HOU,Alfred Blue,BlueAl00,2018-12-15,2018,15,REG,0,9,6,0,2,2,9,0,41,5,0,0,NaN,NaN
86,75,HOU,Alfred Blue,BlueAl00,2018-12-23,2018,16,REG,1,4,14,0,5,4,26,0,34,6,0,0,NaN,NaN
87,76,HOU,Alfred Blue,BlueAl00,2018-12-30,2018,17,REG,0,3,12,0,3,2,12,0,19,2,0,0,NaN,NaN
88,77,HOU,Alfred Blue,BlueAl00,2019-01-05,2018,18,POST,0,2,8,0,2,2,11,0,14,9,0,0,NaN,NaN

Saving Alfred Blue_gamelog.csv at ../tables/players_gamelogs/players/Alfred Blue_gamelog.csv
Successfully saved Alfred Blue_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alfred Blue
Player (13/442): Alfred Morris
Gamelog for Alfred Morris

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,WAS,Alfred Morris,MorrAl00,2012-09-09,2012,1,REG,1,28,96,2,0,0,0,0,53,0,0,0,NaN,NaN
1,2,WAS,Alfred Morris,MorrAl00,2012-09-16,2012,2,REG,1,16,89,0,0,0,0,0,31,0,0,0,NaN,NaN
2,3,WAS,Alfred Morris,MorrAl00,2012-09-23,2012,3,REG,1,17,78,1,1,0,0,0,37,0,0,0,NaN,NaN
3,4,WAS,Alfred Morris,MorrAl00,2012-09-30,2012,4,REG,1,21,113,1,2,1,-4,0,49,0,0,0,NaN,NaN
4,5,WAS,Alfred Morris,MorrAl00,2012-10-07,2012,5,REG,1,18,115,0,1,1,20,0,41,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,112,NYG,Alfred Morris,MorrAl00,2020-12-06,2020,13,REG,0,8,39,1,1,1,6,1,11,0,0,0,NaN,NaN
147,113,NYG,Alfred Morris,MorrAl00,2020-12-13,2020,14,REG,0,3,7,0,0,0,0,0,6,0,0,0,NaN,NaN
148,114,NYG,Alfred Morris,MorrAl00,2020-12-20,2020,15,REG,0,7,39,0,0,0,0,0,13,0,0,0,NaN,NaN
149,115,NYG,Alfred Morris,MorrAl00,2020-12-27,2020,16,REG,0,3,4,0,1,1,9,0,8,0,0,0,NaN,NaN
150,116,NYG,Alfred Morris,MorrAl00,2021-01-03,2020,17,REG,0,5,12,0,1,0,0,0,13,0,0,0,NaN,NaN

Saving Alfred Morris_gamelog.csv at ../tables/players_gamelogs/players/Alfred Morris_gamelog.csv
Successfully saved Alfred Morris_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alfred Morris
Player (14/442): Allen Pinkett
Gamelog for Allen Pinkett

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,HOU,Allen Pinkett,PinkAl00,1986-09-07,1986,1,REG,0,0,0,0,1,1,15,0,0,0,0,0,nan,nan
1,2,HOU,Allen Pinkett,PinkAl00,1986-09-14,1986,2,REG,0,0,0,0,3,3,44,0,0,0,0,0,nan,nan
2,3,HOU,Allen Pinkett,PinkAl00,1986-09-21,1986,3,REG,0,1,0,0,4,3,20,0,0,0,0,0,nan,nan
3,4,HOU,Allen Pinkett,PinkAl00,1986-09-28,1986,4,REG,0,0,0,0,2,2,14,0,0,0,0,0,nan,nan
4,5,HOU,Allen Pinkett,PinkAl00,1986-10-05,1986,5,REG,0,2,1,0,2,2,3,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,91,HOU,Allen Pinkett,PinkAl00,1991-12-08,1991,15,REG,1,16,98,2,3,2,4,0,0,0,0,0,nan,nan
104,92,HOU,Allen Pinkett,PinkAl00,1991-12-15,1991,16,REG,1,8,20,0,5,5,36,0,0,0,0,0,nan,nan
105,93,HOU,Allen Pinkett,PinkAl00,1991-12-21,1991,17,REG,1,6,33,0,1,1,6,0,0,0,0,0,nan,nan
106,94,HOU,Allen Pinkett,PinkAl00,1991-12-29,1991,18,POST,1,0,0,0,0,0,0,0,0,0,0,0,nan,nan
107,95,HOU,Allen Pinkett,PinkAl00,1992-01-04,1991,19,POST,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan

Saving Allen Pinkett_gamelog.csv at ../tables/players_gamelogs/players/Allen Pinkett_gamelog.csv
Successfully saved Allen Pinkett_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Allen Pinkett
Player (15/442): Allen Rice
Gamelog for Allen Rice

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,MIN,Allen Rice,RiceAl00,1984-09-02,1984,1,REG,0,4,29,0,4,2,33,0,0,0,0,0,nan,nan
1,2,MIN,Allen Rice,RiceAl00,1984-09-09,1984,2,REG,0,3,13,0,3,2,17,0,0,0,0,0,nan,nan
2,0,MIN,Allen Rice,RiceAl00,1984-09-16,1984,3,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
3,3,MIN,Allen Rice,RiceAl00,1984-09-23,1984,4,REG,0,2,-3,0,0,0,0,0,0,0,0,0,nan,nan
4,4,MIN,Allen Rice,RiceAl00,1984-09-30,1984,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,0,GNB,Allen Rice,RiceAl00,1991-11-24,1991,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
133,0,GNB,Allen Rice,RiceAl00,1991-12-01,1991,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
134,0,GNB,Allen Rice,RiceAl00,1991-12-08,1991,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
135,0,GNB,Allen Rice,RiceAl00,1991-12-15,1991,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
136,0,GNB,Allen Rice,RiceAl00,1991-12-21,1991,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Allen Rice_gamelog.csv at ../tables/players_gamelogs/players/Allen Rice_gamelog.csv
Successfully saved Allen Rice_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Allen Rice
Player (16/442): Alonzo Highsmith
Gamelog for Alonzo Highsmith

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,HOU,Alonzo Highsmith,HighAl00,1987-09-13,1987,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
1,0,HOU,Alonzo Highsmith,HighAl00,1987-09-20,1987,2,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,0,HOU,Alonzo Highsmith,HighAl00,1987-10-04,1987,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,HOU,Alonzo Highsmith,HighAl00,1987-10-11,1987,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,HOU,Alonzo Highsmith,HighAl00,1987-10-18,1987,6,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,0,TAM,Alonzo Highsmith,HighAl00,1992-11-29,1992,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
102,0,TAM,Alonzo Highsmith,HighAl00,1992-12-06,1992,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
103,0,TAM,Alonzo Highsmith,HighAl00,1992-12-13,1992,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
104,0,TAM,Alonzo Highsmith,HighAl00,1992-12-19,1992,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
105,0,TAM,Alonzo Highsmith,HighAl00,1992-12-27,1992,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Alonzo Highsmith_gamelog.csv at ../tables/players_gamelogs/players/Alonzo Highsmith_gamelog.csv
Successfully saved Alonzo Highsmith_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alonzo Highsmith
Player (17/442): Alvin Kamara
Gamelog for Alvin Kamara

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NOR,Alvin Kamara,KamaAl00,2017-09-11,2017,1,REG,0,7,18,0,6,4,20,0,31,8,0,0,NaN,NaN
1,2,NOR,Alvin Kamara,KamaAl00,2017-09-17,2017,2,REG,0,1,3,0,7,3,51,0,17,8,0,0,NaN,NaN
2,3,NOR,Alvin Kamara,KamaAl00,2017-09-24,2017,3,REG,0,2,37,1,5,3,5,0,17,4,0,0,NaN,NaN
3,4,NOR,Alvin Kamara,KamaAl00,2017-10-01,2017,4,REG,0,5,25,0,10,10,71,1,26,1,0,0,NaN,NaN
4,0,NOR,Alvin Kamara,KamaAl00,NaN,2017,5,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,121,NOR,Alvin Kamara,KamaAl00,2024-12-08,2024,14,REG,1,17,44,0,5,5,35,0,49,0,0,0,NaN,NaN
143,122,NOR,Alvin Kamara,KamaAl00,2024-12-15,2024,15,REG,1,5,12,0,5,4,58,1,25,0,0,0,NaN,NaN
144,0,NOR,Alvin Kamara,KamaAl00,2024-12-23,2024,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Groin
145,0,NOR,Alvin Kamara,KamaAl00,2024-12-29,2024,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Groin
146,0,NOR,Alvin Kamara,KamaAl00,2025-01-05,2024,18,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Doubtful,Groin

Saving Alvin Kamara_gamelog.csv at ../tables/players_gamelogs/players/Alvin Kamara_gamelog.csv
Successfully saved Alvin Kamara_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Alvin Kamara
Player (18/442): Ameer Abdullah
Gamelog for Ameer Abdullah

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,DET,Ameer Abdullah,AbduAm00,2015-09-13,2015,1,REG,0,7,50,1,4,4,44,0,21,7,0,0,NaN,NaN
1,2,DET,Ameer Abdullah,AbduAm00,2015-09-20,2015,2,REG,1,6,9,0,1,1,9,0,31,6,0,0,NaN,NaN
2,3,DET,Ameer Abdullah,AbduAm00,2015-09-27,2015,3,REG,0,8,23,0,5,2,19,1,34,5,0,0,NaN,NaN
3,4,DET,Ameer Abdullah,AbduAm00,2015-10-05,2015,4,REG,1,13,33,0,5,2,11,0,30,4,0,0,NaN,NaN
4,5,DET,Ameer Abdullah,AbduAm00,2015-10-11,2015,5,REG,0,6,16,0,2,1,9,0,15,3,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,140,LVR,Ameer Abdullah,AbduAm00,2024-12-08,2024,14,REG,0,1,1,0,2,1,-3,0,26,8,0,0,NaN,NaN
172,141,LVR,Ameer Abdullah,AbduAm00,2024-12-16,2024,15,REG,0,3,8,0,7,7,58,1,31,13,0,0,NaN,NaN
173,142,LVR,Ameer Abdullah,AbduAm00,2024-12-22,2024,16,REG,0,7,38,1,6,5,47,0,32,10,0,0,NaN,NaN
174,143,LVR,Ameer Abdullah,AbduAm00,2024-12-29,2024,17,REG,1,20,115,0,4,3,32,0,48,5,0,0,NaN,NaN
175,0,LVR,Ameer Abdullah,AbduAm00,2025-01-05,2024,18,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Foot

Saving Ameer Abdullah_gamelog.csv at ../tables/players_gamelogs/players/Ameer Abdullah_gamelog.csv
Successfully saved Ameer Abdullah_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Ameer Abdullah
Player (19/442): Amos Zereoue
Gamelog for Amos Zereoue

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,PIT,Amos Zereoue,ZereAm00,1999-09-12,1999,1,REG,0,17,44,0,1,1,14,0,0,0,0,0,nan,nan
1,2,PIT,Amos Zereoue,ZereAm00,1999-09-19,1999,2,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,3,PIT,Amos Zereoue,ZereAm00,1999-09-26,1999,3,REG,0,0,0,0,1,1,3,0,0,0,0,0,nan,nan
3,0,PIT,Amos Zereoue,ZereAm00,1999-10-03,1999,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,PIT,Amos Zereoue,ZereAm00,1999-10-10,1999,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0,NWE,Amos Zereoue,ZereAm00,2005-12-04,2005,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
121,0,NWE,Amos Zereoue,ZereAm00,2005-12-11,2005,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
122,0,NWE,Amos Zereoue,ZereAm00,2005-12-17,2005,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
123,0,NWE,Amos Zereoue,ZereAm00,2005-12-26,2005,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
124,0,NWE,Amos Zereoue,ZereAm00,2006-01-01,2005,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Amos Zereoue_gamelog.csv at ../tables/players_gamelogs/players/Amos Zereoue_gamelog.csv
Successfully saved Amos Zereoue_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Amos Zereoue
Player (20/442): Amp Lee
Gamelog for Amp Lee

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,SFO,Amp Lee,LeexAm00,1992-09-06,1992,1,REG,0,3,4,0,0,0,0,0,0,0,0,0,nan,nan
1,2,SFO,Amp Lee,LeexAm00,1992-09-13,1992,2,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,3,SFO,Amp Lee,LeexAm00,1992-09-20,1992,3,REG,0,2,5,0,1,1,4,0,0,0,0,0,nan,nan
3,4,SFO,Amp Lee,LeexAm00,1992-09-27,1992,4,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
4,5,SFO,Amp Lee,LeexAm00,1992-10-04,1992,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,0,PHI,Amp Lee,LeexAm00,2000-11-26,2000,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
157,0,PHI,Amp Lee,LeexAm00,2000-12-03,2000,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
158,0,PHI,Amp Lee,LeexAm00,2000-12-10,2000,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
159,0,PHI,Amp Lee,LeexAm00,NaN,2000,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
160,0,PHI,Amp Lee,LeexAm00,2000-12-24,2000,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Amp Lee_gamelog.csv at ../tables/players_gamelogs/players/Amp Lee_gamelog.csv
Successfully saved Amp Lee_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Amp Lee
Player (21/442): Andre Ellington
Gamelog for Andre Ellington

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,ARI,Andre Ellington,ElliAn00,2013-09-08,2013,1,REG,0,0,0,0,3,1,13,0,8,0,0,0,NaN,NaN
1,2,ARI,Andre Ellington,ElliAn00,2013-09-15,2013,2,REG,0,4,20,0,2,2,42,1,18,0,0,0,NaN,NaN
2,3,ARI,Andre Ellington,ElliAn00,2013-09-22,2013,3,REG,0,3,19,0,6,3,36,0,27,2,0,0,NaN,NaN
3,4,ARI,Andre Ellington,ElliAn00,2013-09-29,2013,4,REG,0,4,29,0,6,3,22,0,20,0,0,0,NaN,NaN
4,5,ARI,Andre Ellington,ElliAn00,2013-10-06,2013,5,REG,0,7,52,0,4,4,31,0,30,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,64,HOU,Andre Ellington,ElliAn00,2017-12-03,2017,13,REG,1,2,-4,0,6,5,56,0,47,0,0,0,NaN,NaN
84,65,HOU,Andre Ellington,ElliAn00,2017-12-10,2017,14,REG,0,3,6,0,2,1,16,0,16,0,0,0,NaN,NaN
85,0,HOU,Andre Ellington,ElliAn00,2017-12-17,2017,15,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
86,66,HOU,Andre Ellington,ElliAn00,2017-12-25,2017,16,REG,1,0,0,0,0,0,0,0,5,0,0,0,NaN,NaN
87,67,HOU,Andre Ellington,ElliAn00,2017-12-31,2017,17,REG,0,0,0,0,1,0,0,0,1,0,0,0,NaN,NaN

Saving Andre Ellington_gamelog.csv at ../tables/players_gamelogs/players/Andre Ellington_gamelog.csv
Successfully saved Andre Ellington_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Andre Ellington
Player (22/442): Andre Williams
Gamelog for Andre Williams

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NYG,Andre Williams,WillAn00,2014-09-08,2014,1,REG,0,5,9,0,1,0,0,0,18,2,0,0,NaN,NaN
1,2,NYG,Andre Williams,WillAn00,2014-09-14,2014,2,REG,0,8,12,0,4,2,7,0,19,1,0,0,NaN,NaN
2,3,NYG,Andre Williams,WillAn00,2014-09-21,2014,3,REG,0,6,18,0,0,0,0,0,16,2,0,0,NaN,NaN
3,4,NYG,Andre Williams,WillAn00,2014-09-25,2014,4,REG,0,15,66,1,1,0,0,0,33,4,0,0,NaN,NaN
4,5,NYG,Andre Williams,WillAn00,2014-10-05,2014,5,REG,0,20,65,1,2,2,18,0,36,1,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,0,LAC,Andre Williams,WillAn00,2017-12-24,2017,16,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
88,0,LAC,Andre Williams,WillAn00,2017-12-31,2017,17,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
89,0,LAC,Andre Williams,WillAn00,2017-12-31,2017,17,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
90,0,LAC,Andre Williams,WillAn00,2017-12-31,2017,17,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
91,0,LAC,Andre Williams,WillAn00,2017-12-31,2017,17,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN

Saving Andre Williams_gamelog.csv at ../tables/players_gamelogs/players/Andre Williams_gamelog.csv
Successfully saved Andre Williams_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Andre Williams
Player (23/442): Anthony Dixon
Gamelog for Anthony Dixon

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,SFO,Anthony Dixon,DixoAn00,2010-09-12,2010,1,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1,2,SFO,Anthony Dixon,DixoAn00,2010-09-20,2010,2,REG,0,1,2,1,0,0,0,0,0,0,0,0,NaN,NaN
2,3,SFO,Anthony Dixon,DixoAn00,2010-09-26,2010,3,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
3,4,SFO,Anthony Dixon,DixoAn00,2010-10-03,2010,4,REG,0,1,3,0,0,0,0,0,0,0,0,0,NaN,NaN
4,5,SFO,Anthony Dixon,DixoAn00,2010-10-10,2010,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,100,BUF,Anthony Dixon,DixoAn00,2015-12-06,2015,13,REG,0,1,6,0,0,0,0,0,2,21,0,0,NaN,NaN
106,101,BUF,Anthony Dixon,DixoAn00,2015-12-13,2015,14,REG,0,0,0,0,0,0,0,0,0,24,0,0,NaN,NaN
107,102,BUF,Anthony Dixon,DixoAn00,2015-12-20,2015,15,REG,0,1,5,0,1,1,4,0,5,18,0,0,NaN,NaN
108,103,BUF,Anthony Dixon,DixoAn00,2015-12-27,2015,16,REG,0,0,0,0,0,0,0,0,0,12,0,0,NaN,NaN
109,104,BUF,Anthony Dixon,DixoAn00,2016-01-03,2015,17,REG,0,2,6,0,0,0,0,0,9,19,0,0,NaN,NaN

Saving Anthony Dixon_gamelog.csv at ../tables/players_gamelogs/players/Anthony Dixon_gamelog.csv
Successfully saved Anthony Dixon_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Anthony Dixon
Player (24/442): Anthony Johnson
Gamelog for Anthony Johnson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,IND,Anthony Johnson,JohnAn00,1990-09-09,1990,1,REG,0,0,0,0,3,3,16,0,0,0,0,0,nan,nan
1,2,IND,Anthony Johnson,JohnAn00,1990-09-16,1990,2,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,3,IND,Anthony Johnson,JohnAn00,1990-09-23,1990,3,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
3,4,IND,Anthony Johnson,JohnAn00,1990-09-30,1990,4,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
4,5,IND,Anthony Johnson,JohnAn00,1990-10-07,1990,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,158,JAX,Anthony Johnson,JohnAn00,2000-11-26,2000,13,REG,0,1,6,0,1,1,44,0,0,0,0,0,nan,nan
186,159,JAX,Anthony Johnson,JohnAn00,2000-12-03,2000,14,REG,0,2,24,0,1,0,0,0,0,0,0,0,nan,nan
187,160,JAX,Anthony Johnson,JohnAn00,2000-12-10,2000,15,REG,1,13,39,0,2,1,8,0,0,0,0,0,nan,nan
188,0,JAX,Anthony Johnson,JohnAn00,2000-12-17,2000,16,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
189,161,JAX,Anthony Johnson,JohnAn00,2000-12-23,2000,17,REG,0,5,18,0,1,1,8,0,0,0,0,0,nan,nan

Saving Anthony Johnson_gamelog.csv at ../tables/players_gamelogs/players/Anthony Johnson_gamelog.csv
Successfully saved Anthony Johnson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Anthony Johnson
Player (25/442): Anthony Thomas
Gamelog for Anthony Thomas

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,CHI,Anthony Thomas,ThomAn01,2001-09-09,2001,1,REG,0,3,9,0,0,0,0,0,0,0,0,0,nan,nan
1,2,CHI,Anthony Thomas,ThomAn01,2001-09-23,2001,2,REG,1,0,0,0,1,1,8,0,0,0,0,0,nan,nan
2,0,CHI,Anthony Thomas,ThomAn01,NaN,2001,3,BYE,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
3,3,CHI,Anthony Thomas,ThomAn01,2001-10-07,2001,4,REG,0,11,57,1,1,0,0,0,0,0,0,0,nan,nan
4,4,CHI,Anthony Thomas,ThomAn01,2001-10-14,2001,5,REG,0,11,58,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,0,BUF,Anthony Thomas,ThomAn01,2007-12-02,2007,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
116,0,BUF,Anthony Thomas,ThomAn01,2007-12-09,2007,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
117,0,BUF,Anthony Thomas,ThomAn01,2007-12-16,2007,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
118,0,BUF,Anthony Thomas,ThomAn01,2007-12-23,2007,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
119,0,BUF,Anthony Thomas,ThomAn01,2007-12-30,2007,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Anthony Thomas_gamelog.csv at ../tables/players_gamelogs/players/Anthony Thomas_gamelog.csv
Successfully saved Anthony Thomas_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Anthony Thomas
Player (26/442): Anthony Toney
Gamelog for Anthony Toney

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,PHI,Anthony Toney,ToneAn00,1986-09-07,1986,1,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
1,0,PHI,Anthony Toney,ToneAn00,1986-09-14,1986,2,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
2,0,PHI,Anthony Toney,ToneAn00,1986-09-21,1986,3,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,PHI,Anthony Toney,ToneAn00,1986-09-28,1986,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,1,PHI,Anthony Toney,ToneAn00,1986-10-05,1986,5,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,66,PHI,Anthony Toney,ToneAn00,1990-12-09,1990,14,REG,0,2,4,0,1,1,7,0,0,0,0,0,nan,nan
81,67,PHI,Anthony Toney,ToneAn00,1990-12-16,1990,15,REG,1,9,19,0,1,1,8,1,0,0,0,0,nan,nan
82,68,PHI,Anthony Toney,ToneAn00,1990-12-23,1990,16,REG,0,9,37,0,3,3,18,0,0,0,0,0,nan,nan
83,69,PHI,Anthony Toney,ToneAn00,1990-12-29,1990,17,REG,1,12,61,0,2,1,10,0,0,0,0,0,nan,nan
84,70,PHI,Anthony Toney,ToneAn00,1991-01-05,1990,18,POST,0,2,3,0,0,0,0,0,0,0,0,0,nan,nan

Saving Anthony Toney_gamelog.csv at ../tables/players_gamelogs/players/Anthony Toney_gamelog.csv
Successfully saved Anthony Toney_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Anthony Toney
Player (27/442): Antonio Gibson
Gamelog for Antonio Gibson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,WAS,Antonio Gibson,GibsAn00,2020-09-13,2020,1,REG,1,9,36,0,2,2,8,0,18,0,0,0,NaN,NaN
1,2,WAS,Antonio Gibson,GibsAn00,2020-09-20,2020,2,REG,1,13,55,1,2,1,-3,0,43,0,0,0,NaN,NaN
2,3,WAS,Antonio Gibson,GibsAn00,2020-09-27,2020,3,REG,0,9,49,1,3,3,11,0,25,0,0,0,NaN,NaN
3,4,WAS,Antonio Gibson,GibsAn00,2020-10-04,2020,4,REG,0,13,46,1,5,4,82,0,31,0,0,0,NaN,NaN
4,5,WAS,Antonio Gibson,GibsAn00,2020-10-11,2020,5,REG,1,11,27,0,5,5,24,0,30,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,NWE,Antonio Gibson,GibsAn00,NaN,2024,14,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
86,76,NWE,Antonio Gibson,GibsAn00,2024-12-15,2024,15,REG,0,7,33,0,2,2,31,0,16,7,0,0,NaN,NaN
87,77,NWE,Antonio Gibson,GibsAn00,2024-12-22,2024,16,REG,0,10,28,0,2,2,8,0,43,5,0,0,NaN,NaN
88,78,NWE,Antonio Gibson,GibsAn00,2024-12-28,2024,17,REG,0,12,63,0,1,0,0,0,29,9,0,0,NaN,NaN
89,79,NWE,Antonio Gibson,GibsAn00,2025-01-05,2024,18,REG,1,12,41,0,6,4,20,0,42,4,0,0,NaN,NaN

Saving Antonio Gibson_gamelog.csv at ../tables/players_gamelogs/players/Antonio Gibson_gamelog.csv
Successfully saved Antonio Gibson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Antonio Gibson
Player (28/442): Antowain Smith
Gamelog for Antowain Smith

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,BUF,Antowain Smith,SmitAn00,1997-08-31,1997,1,REG,0,7,55,0,7,5,44,0,0,0,0,0,nan,nan
1,2,BUF,Antowain Smith,SmitAn00,1997-09-07,1997,2,REG,0,14,47,0,1,1,-6,0,0,0,0,0,nan,nan
2,3,BUF,Antowain Smith,SmitAn00,1997-09-14,1997,3,REG,0,11,30,0,4,2,3,0,0,0,0,0,nan,nan
3,4,BUF,Antowain Smith,SmitAn00,1997-09-21,1997,4,REG,0,12,129,3,8,3,32,0,0,0,0,0,nan,nan
4,0,BUF,Antowain Smith,SmitAn00,NaN,1997,5,BYE,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,135,NOR,Antowain Smith,SmitAn00,2005-12-04,2005,13,REG,1,18,49,0,1,1,1,0,0,0,0,0,nan,nan
157,136,NOR,Antowain Smith,SmitAn00,2005-12-12,2005,14,REG,1,11,60,1,4,3,12,0,0,0,0,0,nan,nan
158,137,NOR,Antowain Smith,SmitAn00,2005-12-18,2005,15,REG,1,10,25,0,0,0,0,0,0,0,0,0,nan,nan
159,138,NOR,Antowain Smith,SmitAn00,2005-12-24,2005,16,REG,0,13,33,0,2,2,5,0,0,0,0,0,nan,nan
160,139,NOR,Antowain Smith,SmitAn00,2006-01-01,2005,17,REG,1,16,55,0,0,0,0,0,0,0,0,0,nan,nan

Saving Antowain Smith_gamelog.csv at ../tables/players_gamelogs/players/Antowain Smith_gamelog.csv
Successfully saved Antowain Smith_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Antowain Smith
Player (29/442): Arian Foster
Gamelog for Arian Foster

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,HOU,Arian Foster,FostAr00,2009-09-13,2009,1,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
1,0,HOU,Arian Foster,FostAr00,2009-09-20,2009,2,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
2,0,HOU,Arian Foster,FostAr00,2009-09-27,2009,3,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,HOU,Arian Foster,FostAr00,2009-10-04,2009,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,HOU,Arian Foster,FostAr00,2009-10-11,2009,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,0,MIA,Arian Foster,FostAr00,2016-12-04,2016,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
136,0,MIA,Arian Foster,FostAr00,2016-12-11,2016,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
137,0,MIA,Arian Foster,FostAr00,2016-12-17,2016,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
138,0,MIA,Arian Foster,FostAr00,2016-12-24,2016,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
139,0,MIA,Arian Foster,FostAr00,2017-01-01,2016,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Arian Foster_gamelog.csv at ../tables/players_gamelogs/players/Arian Foster_gamelog.csv
Successfully saved Arian Foster_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Arian Foster
Player (30/442): Austin Ekeler
Gamelog for Austin Ekeler

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,LAC,Austin Ekeler,EkelAu00,2017-09-11,2017,1,REG,0,0,0,0,2,2,18,0,3,17,0,0,NaN,NaN
1,2,LAC,Austin Ekeler,EkelAu00,2017-09-17,2017,2,REG,0,0,0,0,0,0,0,0,0,17,0,0,NaN,NaN
2,3,LAC,Austin Ekeler,EkelAu00,2017-09-24,2017,3,REG,0,0,0,0,1,1,6,0,6,19,0,0,NaN,NaN
3,4,LAC,Austin Ekeler,EkelAu00,2017-10-01,2017,4,REG,0,1,35,1,2,2,23,0,3,17,0,0,NaN,NaN
4,5,LAC,Austin Ekeler,EkelAu00,2017-10-08,2017,5,REG,0,4,0,0,6,3,28,0,12,16,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,0,WAS,Austin Ekeler,EkelAu00,2024-12-29,2024,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
178,118,WAS,Austin Ekeler,EkelAu00,2025-01-05,2024,18,REG,0,3,12,0,2,2,20,0,35,1,0,0,NaN,NaN
179,119,WAS,Austin Ekeler,EkelAu00,2025-01-12,2024,19,POST,0,8,27,0,4,3,26,0,34,0,0,0,NaN,NaN
180,120,WAS,Austin Ekeler,EkelAu00,2025-01-18,2024,20,POST,0,6,47,0,4,4,41,0,28,0,0,0,NaN,NaN
181,121,WAS,Austin Ekeler,EkelAu00,2025-01-26,2024,21,POST,0,8,15,0,7,5,17,0,47,5,0,0,NaN,NaN

Saving Austin Ekeler_gamelog.csv at ../tables/players_gamelogs/players/Austin Ekeler_gamelog.csv
Successfully saved Austin Ekeler_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Austin Ekeler
Player (31/442): Bam Morris
Gamelog for Bam Morris

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,PIT,Bam Morris,MorrBa00,1994-09-04,1994,1,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
1,2,PIT,Bam Morris,MorrBa00,1994-09-11,1994,2,REG,0,1,4,0,0,0,0,0,0,0,0,0,nan,nan
2,3,PIT,Bam Morris,MorrBa00,1994-09-18,1994,3,REG,0,10,56,1,2,2,55,0,0,0,0,0,nan,nan
3,4,PIT,Bam Morris,MorrBa00,1994-09-25,1994,4,REG,0,3,14,0,0,0,0,0,0,0,0,0,nan,nan
4,5,PIT,Bam Morris,MorrBa00,1994-10-03,1994,5,REG,0,17,70,1,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,75,KAN,Bam Morris,MorrBa00,1999-12-05,1999,13,REG,1,6,14,0,2,2,12,0,0,0,0,0,nan,nan
103,76,KAN,Bam Morris,MorrBa00,1999-12-12,1999,14,REG,1,6,33,0,0,0,0,0,0,0,0,0,nan,nan
104,77,KAN,Bam Morris,MorrBa00,1999-12-18,1999,15,REG,1,17,71,1,2,1,4,0,0,0,0,0,nan,nan
105,78,KAN,Bam Morris,MorrBa00,1999-12-26,1999,16,REG,1,6,33,0,1,0,0,0,0,0,0,0,nan,nan
106,79,KAN,Bam Morris,MorrBa00,2000-01-02,1999,17,REG,1,9,34,0,2,1,9,0,0,0,0,0,nan,nan

Saving Bam Morris_gamelog.csv at ../tables/players_gamelogs/players/Bam Morris_gamelog.csv
Successfully saved Bam Morris_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bam Morris
Player (32/442): Barry Foster
Gamelog for Barry Foster

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,PIT,Barry Foster,FostBa00,1990-09-09,1990,1,REG,0,1,1,0,2,1,2,0,0,0,0,0,nan,nan
1,2,PIT,Barry Foster,FostBa00,1990-09-16,1990,2,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,3,PIT,Barry Foster,FostBa00,1990-09-23,1990,3,REG,0,1,1,0,0,0,0,0,0,0,0,0,nan,nan
3,4,PIT,Barry Foster,FostBa00,1990-09-30,1990,4,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
4,5,PIT,Barry Foster,FostBa00,1990-10-07,1990,5,REG,0,5,23,1,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,0,PIT,Barry Foster,FostBa00,1994-12-11,1994,15,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
84,62,PIT,Barry Foster,FostBa00,1994-12-18,1994,16,REG,1,32,106,1,3,2,13,0,0,0,0,0,nan,nan
85,63,PIT,Barry Foster,FostBa00,1994-12-24,1994,17,REG,1,6,28,0,1,1,0,0,0,0,0,0,nan,nan
86,64,PIT,Barry Foster,FostBa00,1995-01-07,1994,19,POST,1,24,133,0,0,0,0,0,0,0,0,0,nan,nan
87,65,PIT,Barry Foster,FostBa00,1995-01-15,1994,20,POST,1,20,47,0,5,3,12,0,0,0,0,0,nan,nan

Saving Barry Foster_gamelog.csv at ../tables/players_gamelogs/players/Barry Foster_gamelog.csv
Successfully saved Barry Foster_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Barry Foster
Player (33/442): Barry Redden
Gamelog for Barry Redden

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,RAM,Barry Redden,ReddBa00,1982-09-12,1982,1,REG,0,2,2,0,1,1,11,0,0,0,0,0,nan,nan
1,2,RAM,Barry Redden,ReddBa00,1982-09-19,1982,2,REG,0,4,18,0,2,2,5,0,0,0,0,0,nan,nan
2,3,RAM,Barry Redden,ReddBa00,1982-11-21,1982,11,REG,0,2,4,0,1,1,0,0,0,0,0,0,nan,nan
3,4,RAM,Barry Redden,ReddBa00,1982-11-28,1982,12,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
4,5,RAM,Barry Redden,ReddBa00,1982-12-02,1982,13,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,0,CLE,Barry Redden,ReddBa00,1990-12-02,1990,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
156,0,CLE,Barry Redden,ReddBa00,1990-12-09,1990,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
157,0,CLE,Barry Redden,ReddBa00,1990-12-16,1990,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
158,0,CLE,Barry Redden,ReddBa00,1990-12-23,1990,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
159,0,CLE,Barry Redden,ReddBa00,1990-12-30,1990,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Barry Redden_gamelog.csv at ../tables/players_gamelogs/players/Barry Redden_gamelog.csv
Successfully saved Barry Redden_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Barry Redden
Player (34/442): Barry Sanders
Gamelog for Barry Sanders

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,DET,Barry Sanders,SandBa00,1989-09-10,1989,1,REG,0,9,71,1,0,0,0,0,0,0,0,0,nan,nan
1,2,DET,Barry Sanders,SandBa00,1989-09-17,1989,2,REG,1,12,57,1,8,6,96,0,0,0,0,0,nan,nan
2,3,DET,Barry Sanders,SandBa00,1989-09-24,1989,3,REG,1,18,126,1,2,1,10,0,0,0,0,0,nan,nan
3,4,DET,Barry Sanders,SandBa00,1989-10-01,1989,4,REG,1,5,1,0,2,2,11,0,0,0,0,0,nan,nan
4,5,DET,Barry Sanders,SandBa00,1989-10-08,1989,5,REG,1,23,99,0,4,2,30,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,155,DET,Barry Sanders,SandBa00,1998-11-26,1998,13,REG,1,20,33,0,1,1,20,0,0,0,0,0,nan,nan
171,156,DET,Barry Sanders,SandBa00,1998-12-06,1998,14,REG,1,18,102,0,1,1,5,0,0,0,0,0,nan,nan
172,157,DET,Barry Sanders,SandBa00,1998-12-14,1998,15,REG,1,14,28,0,1,1,-3,0,0,0,0,0,nan,nan
173,158,DET,Barry Sanders,SandBa00,1998-12-20,1998,16,REG,1,25,95,0,2,1,-1,0,0,0,0,0,nan,nan
174,159,DET,Barry Sanders,SandBa00,1998-12-27,1998,17,REG,1,19,41,0,4,2,15,0,0,0,0,0,nan,nan

Saving Barry Sanders_gamelog.csv at ../tables/players_gamelogs/players/Barry Sanders_gamelog.csv
Successfully saved Barry Sanders_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Barry Sanders
Player (35/442): Barry Word
Gamelog for Barry Word

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NOR,Barry Word,WordBa00,1987-09-13,1987,1,REG,0,1,3,0,0,0,0,0,0,0,0,0,nan,nan
1,2,NOR,Barry Word,WordBa00,1987-09-20,1987,2,REG,0,1,-2,0,0,0,0,0,0,0,0,0,nan,nan
2,0,NOR,Barry Word,WordBa00,1987-10-04,1987,4,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
3,0,NOR,Barry Word,WordBa00,1987-10-11,1987,5,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
4,0,NOR,Barry Word,WordBa00,1987-10-18,1987,6,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,0,ARI,Barry Word,WordBa00,1994-11-27,1994,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
118,0,ARI,Barry Word,WordBa00,1994-12-04,1994,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
119,0,ARI,Barry Word,WordBa00,1994-12-11,1994,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
120,0,ARI,Barry Word,WordBa00,1994-12-18,1994,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
121,0,ARI,Barry Word,WordBa00,1994-12-24,1994,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Barry Word_gamelog.csv at ../tables/players_gamelogs/players/Barry Word_gamelog.csv
Successfully saved Barry Word_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Barry Word
Player (36/442): Ben Tate
Gamelog for Ben Tate

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,HOU,Ben Tate,TateBe00,2011-09-11,2011,1,REG,0,24,116,1,0,0,0,0,0,0,0,0,NaN,NaN
1,2,HOU,Ben Tate,TateBe00,2011-09-18,2011,2,REG,0,23,103,0,4,4,32,0,0,0,0,0,NaN,NaN
2,3,HOU,Ben Tate,TateBe00,2011-09-25,2011,3,REG,1,19,82,0,4,1,8,0,0,0,0,0,NaN,NaN
3,4,HOU,Ben Tate,TateBe00,2011-10-02,2011,4,REG,0,2,20,0,0,0,0,0,0,0,0,0,NaN,NaN
4,0,HOU,Ben Tate,TateBe00,2011-10-09,2011,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Questionable,Groin
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,53,MIN,Ben Tate,TateBe00,2014-12-07,2014,14,REG,0,3,15,0,0,0,0,0,10,0,0,0,NaN,NaN
72,54,MIN,Ben Tate,TateBe00,2014-12-14,2014,15,REG,0,5,8,0,0,0,0,0,13,0,0,0,NaN,NaN
73,0,MIN,Ben Tate,TateBe00,2014-12-21,2014,16,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
74,0,MIN,Ben Tate,TateBe00,2014-12-28,2014,17,DNP,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
75,55,PIT,Ben Tate,TateBe00,2015-01-03,2014,18,POST,1,5,19,0,3,2,9,0,19,0,0,0,NaN,NaN

Saving Ben Tate_gamelog.csv at ../tables/players_gamelogs/players/Ben Tate_gamelog.csv
Successfully saved Ben Tate_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Ben Tate
Player (37/442): BenJarvus GreenEllis
Gamelog for BenJarvus GreenEllis

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,NWE,BenJarvus GreenEllis,GreeBe00,2008-09-07,2008,1,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
1,0,NWE,BenJarvus GreenEllis,GreeBe00,2008-09-14,2008,2,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
2,0,NWE,BenJarvus GreenEllis,GreeBe00,2008-09-21,2008,3,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,NWE,BenJarvus GreenEllis,GreeBe00,1970-01-01,2008,4,BYE,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,NWE,BenJarvus GreenEllis,GreeBe00,2008-10-05,2008,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,86,CIN,BenJarvus GreenEllis,GreeBe00,2013-12-08,2013,14,REG,1,17,48,2,1,0,0,0,33,0,0,0,nan,nan
104,87,CIN,BenJarvus GreenEllis,GreeBe00,2013-12-15,2013,15,REG,1,4,4,0,0,0,0,0,16,0,0,0,nan,nan
105,88,CIN,BenJarvus GreenEllis,GreeBe00,2013-12-22,2013,16,REG,1,12,24,1,2,1,10,0,26,0,0,0,nan,nan
106,89,CIN,BenJarvus GreenEllis,GreeBe00,2013-12-29,2013,17,REG,1,11,66,0,0,0,0,0,26,0,0,0,nan,nan
107,90,CIN,BenJarvus GreenEllis,GreeBe00,2014-01-05,2013,18,POST,1,8,42,0,0,0,0,0,14,0,0,0,nan,nan

Saving BenJarvus GreenEllis_gamelog.csv at ../tables/players_gamelogs/players/BenJarvus GreenEllis_gamelog.csv
Successfully saved BenJarvus GreenEllis_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for BenJarvus GreenEllis
Player (38/442): Benny Snell
Gamelog for Benny Snell

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,PIT,Benny Snell,SnelBe00,2019-09-08,2019,1,REG,0,0,0,0,0,0,0,0,0,9,0,0,NaN,NaN
1,2,PIT,Benny Snell,SnelBe00,2019-09-15,2019,2,REG,0,1,23,0,0,0,0,0,2,20,0,0,NaN,NaN
2,3,PIT,Benny Snell,SnelBe00,2019-09-22,2019,3,REG,0,3,6,0,0,0,0,0,3,19,0,0,NaN,NaN
3,4,PIT,Benny Snell,SnelBe00,2019-09-30,2019,4,REG,0,2,1,0,1,0,0,0,6,17,0,0,NaN,NaN
4,5,PIT,Benny Snell,SnelBe00,2019-10-06,2019,5,REG,0,0,0,0,0,0,0,0,0,19,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,61,PIT,Benny Snell,SnelBe00,2022-12-11,2022,14,REG,0,2,4,0,0,0,0,0,2,12,0,0,NaN,NaN
68,62,PIT,Benny Snell,SnelBe00,2022-12-18,2022,15,REG,0,0,0,0,0,0,0,0,0,12,0,0,NaN,NaN
69,63,PIT,Benny Snell,SnelBe00,2022-12-24,2022,16,REG,0,0,0,0,0,0,0,0,0,14,0,0,NaN,NaN
70,64,PIT,Benny Snell,SnelBe00,2023-01-01,2022,17,REG,0,0,0,0,0,0,0,0,0,13,0,0,NaN,NaN
71,65,PIT,Benny Snell,SnelBe00,2023-01-08,2022,18,REG,0,0,0,0,0,0,0,0,0,15,0,0,NaN,NaN

Saving Benny Snell_gamelog.csv at ../tables/players_gamelogs/players/Benny Snell_gamelog.csv
Successfully saved Benny Snell_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Benny Snell
Player (39/442): Bernard Pierce
Gamelog for Bernard Pierce

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,BAL,Bernard Pierce,PierBe00,2012-09-10,2012,1,REG,0,4,19,0,0,0,0,0,12,0,0,0,NaN,NaN
1,2,BAL,Bernard Pierce,PierBe00,2012-09-16,2012,2,REG,0,3,4,0,0,0,0,0,7,1,0,0,NaN,NaN
2,3,BAL,Bernard Pierce,PierBe00,2012-09-23,2012,3,REG,0,4,17,0,1,1,10,0,15,0,0,0,NaN,NaN
3,4,BAL,Bernard Pierce,PierBe00,2012-09-27,2012,4,REG,0,6,48,0,0,0,0,0,10,0,0,0,NaN,NaN
4,5,BAL,Bernard Pierce,PierBe00,2012-10-07,2012,5,REG,0,2,13,0,0,0,0,0,6,4,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,0,JAX,Bernard Pierce,PierBe00,2015-12-06,2015,13,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Questionable,Calf
70,0,JAX,Bernard Pierce,PierBe00,2015-12-13,2015,14,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
71,0,JAX,Bernard Pierce,PierBe00,2015-12-20,2015,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
72,0,JAX,Bernard Pierce,PierBe00,2015-12-27,2015,16,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
73,0,JAX,Bernard Pierce,PierBe00,2016-01-03,2015,17,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred

Saving Bernard Pierce_gamelog.csv at ../tables/players_gamelogs/players/Bernard Pierce_gamelog.csv
Successfully saved Bernard Pierce_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bernard Pierce
Player (40/442): Bernie Parmalee
Gamelog for Bernie Parmalee

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,MIA,Bernie Parmalee,ParmBe00,1970-01-01,1992,1,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
1,0,MIA,Bernie Parmalee,ParmBe00,1992-09-14,1992,2,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
2,0,MIA,Bernie Parmalee,ParmBe00,1992-09-20,1992,3,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,MIA,Bernie Parmalee,ParmBe00,1992-09-27,1992,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,MIA,Bernie Parmalee,ParmBe00,1992-10-04,1992,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,137,NYJ,Bernie Parmalee,ParmBe00,2000-11-26,2000,13,REG,0,10,26,0,7,6,48,0,0,0,0,0,nan,nan
157,138,NYJ,Bernie Parmalee,ParmBe00,2000-12-03,2000,14,REG,0,2,5,0,0,0,0,0,0,0,0,0,nan,nan
158,139,NYJ,Bernie Parmalee,ParmBe00,2000-12-10,2000,15,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
159,140,NYJ,Bernie Parmalee,ParmBe00,2000-12-17,2000,16,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
160,141,NYJ,Bernie Parmalee,ParmBe00,2000-12-24,2000,17,REG,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan

Saving Bernie Parmalee_gamelog.csv at ../tables/players_gamelogs/players/Bernie Parmalee_gamelog.csv
Successfully saved Bernie Parmalee_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bernie Parmalee
Player (41/442): Bijan Robinson
Gamelog for Bijan Robinson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,ATL,Bijan Robinson,RobiBi01,2023-09-10,2023,1,REG,1,10,56,0,6,6,27,1,33,0,0,0,NaN,NaN
1,2,ATL,Bijan Robinson,RobiBi01,2023-09-17,2023,2,REG,1,19,124,0,5,4,48,0,59,0,0,0,NaN,NaN
2,3,ATL,Bijan Robinson,RobiBi01,2023-09-24,2023,3,REG,1,10,33,0,6,4,27,0,54,0,0,0,NaN,NaN
3,4,ATL,Bijan Robinson,RobiBi01,2023-10-01,2023,4,REG,1,14,105,0,5,5,32,0,44,0,0,0,NaN,NaN
4,5,ATL,Bijan Robinson,RobiBi01,2023-10-08,2023,5,REG,1,14,46,0,2,2,12,1,47,0,0,0,NaN,NaN
5,6,ATL,Bijan Robinson,RobiBi01,2023-10-15,2023,6,REG,1,13,37,0,8,5,43,0,64,0,0,0,NaN,NaN
6,7,ATL,Bijan Robinson,RobiBi01,2023-10-22,2023,7,REG,0,1,3,0,0,0,0,0,11,0,0,0,NaN,NaN
7,8,ATL,Bijan Robinson,RobiBi01,2023-10-29,2023,8,REG,1,11,62,1,5,0,0,0,50,0,0,0,NaN,NaN
8,9,ATL,Bijan Robinson,RobiBi01,2023-11-05,2023,9,REG,1,11,51,0,4,2,8,0,42,0,0,0,NaN,NaN
9,10,ATL,Bijan Robinson,RobiBi01,2023-11-12,2023,10,REG,1,22,95,1,2,1,11,0,53,1,0,0,NaN,NaN
10,0,ATL,Bijan Robinson,RobiBi01,NaN,2023,11,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
11,11,ATL,Bijan Robinson,RobiBi01,2023-11-26,2023,12,REG,1,16,91,1,6,3,32,1,39,0,0,0,NaN,NaN
12,12,ATL,Bijan Robinson,RobiBi01,2023-12-03,2023,13,REG,1,18,53,0,5,3,26,0,51,0,0,0,NaN,NaN
13,13,ATL,Bijan Robinson,RobiBi01,2023-12-10,2023,14,REG,1,10,34,1,7,5,54,0,56,0,0,0,NaN,NaN
14,14,ATL,Bijan Robinson,RobiBi01,2023-12-17,2023,15,REG,1,7,11,0,3,1,3,0,30,0,0,0,NaN,NaN
15,15,ATL,Bijan Robinson,RobiBi01,2023-12-24,2023,16,REG,1,12,72,0,10,7,50,0,48,0,0,0,NaN,NaN
16,16,ATL,Bijan Robinson,RobiBi01,2023-12-31,2023,17,REG,1,15,75,0,4,3,11,0,45,0,0,0,NaN,NaN
17,17,ATL,Bijan Robinson,RobiBi01,2024-01-07,2023,18,REG,1,11,28,0,8,7,103,1,45,0,0,0,NaN,NaN
18,18,ATL,Bijan Robinson,RobiBi01,2024-09-08,2024,1,REG,1,18,68,0,5,5,43,0,50,0,0,0,NaN,NaN
19,19,ATL,Bijan Robinson,RobiBi01,2024-09-16,2024,2,REG,1,14,97,0,5,4,25,0,46,0,0,0,NaN,NaN
20,20,ATL,Bijan Robinson,RobiBi01,2024-09-22,2024,3,REG,1,16,31,1,2,2,21,0,50,0,0,0,NaN,NaN
21,21,ATL,Bijan Robinson,RobiBi01,2024-09-29,2024,4,REG,1,7,28,0,4,4,46,0,36,0,0,0,NaN,NaN
22,22,ATL,Bijan Robinson,RobiBi01,2024-10-03,2024,5,REG,1,12,61,0,3,3,16,0,58,0,0,0,NaN,NaN
23,23,ATL,Bijan Robinson,RobiBi01,2024-10-13,2024,6,REG,1,15,95,2,4,3,10,0,39,0,0,0,NaN,NaN
24,24,ATL,Bijan Robinson,RobiBi01,2024-10-20,2024,7,REG,1,21,103,1,5,3,40,0,50,0,0,0,NaN,NaN
25,25,ATL,Bijan Robinson,RobiBi01,2024-10-27,2024,8,REG,1,13,63,0,7,7,43,1,42,0,0,0,NaN,NaN
26,26,ATL,Bijan Robinson,RobiBi01,2024-11-03,2024,9,REG,1,19,86,0,7,7,59,0,42,0,0,0,NaN,NaN
27,27,ATL,Bijan Robinson,RobiBi01,2024-11-10,2024,10,REG,1,20,116,2,4,3,28,0,61,0,0,0,NaN,NaN
28,28,ATL,Bijan Robinson,RobiBi01,2024-11-17,2024,11,REG,1,12,35,0,4,4,28,0,42,0,0,0,NaN,NaN
29,0,ATL,Bijan Robinson,RobiBi01,NaN,2024,12,BYE,0,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
30,29,ATL,Bijan Robinson,RobiBi01,2024-12-01,2024,13,REG,1,26,102,1,6,6,33,0,61,0,0,0,NaN,NaN
31,30,ATL,Bijan Robinson,RobiBi01,2024-12-08,2024,14,REG,1,22,92,1,2,2,9,0,63,0,0,0,NaN,NaN
32,31,ATL,Bijan Robinson,RobiBi01,2024-12-16,2024,15,REG,1,22,125,0,2,1,10,0,44,0,0,0,NaN,NaN
33,32,ATL,Bijan Robinson,RobiBi01,2024-12-22,2024,16,REG,1,22,94,2,2,2,9,0,50,0,0,0,NaN,NaN
34,33,ATL,Bijan Robinson,RobiBi01,2024-12-29,2024,17,REG,1,17,90,2,5,3,8,0,58,0,0,0,NaN,NaN
35,34,ATL,Bijan Robinson,RobiBi01,2025-01-05,2024,18,REG,1,28,170,2,5,2,3,0,69,0,0,0,NaN,NaN

Saving Bijan Robinson_gamelog.csv at ../tables/players_gamelogs/players/Bijan Robinson_gamelog.csv
Successfully saved Bijan Robinson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bijan Robinson
Player (42/442): Bilal Powell
Gamelog for Bilal Powell

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,NYJ,Bilal Powell,PoweBi00,2011-09-11,2011,1,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
1,0,NYJ,Bilal Powell,PoweBi00,2011-09-18,2011,2,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
2,0,NYJ,Bilal Powell,PoweBi00,2011-09-25,2011,3,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,NYJ,Bilal Powell,PoweBi00,2011-10-02,2011,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,NYJ,Bilal Powell,PoweBi00,2011-10-09,2011,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,106,NYJ,Bilal Powell,PoweBi00,2019-12-01,2019,13,REG,0,4,14,0,2,2,4,0,11,2,0,0,NaN,NaN
149,107,NYJ,Bilal Powell,PoweBi00,2019-12-08,2019,14,REG,1,19,74,0,3,2,14,0,56,1,0,0,NaN,NaN
150,0,NYJ,Bilal Powell,PoweBi00,2019-12-12,2019,15,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,"Ankle, Illness"
151,108,NYJ,Bilal Powell,PoweBi00,2019-12-22,2019,16,REG,0,1,3,0,2,1,5,0,4,0,0,0,NaN,NaN
152,109,NYJ,Bilal Powell,PoweBi00,2019-12-29,2019,17,REG,0,7,27,0,0,0,0,0,15,1,0,0,NaN,NaN

Saving Bilal Powell_gamelog.csv at ../tables/players_gamelogs/players/Bilal Powell_gamelog.csv
Successfully saved Bilal Powell_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bilal Powell
Player (43/442): Blair Thomas
Gamelog for Blair Thomas

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,1,NYJ,Blair Thomas,ThomBl00,1990-09-09,1990,1,REG,0,5,13,0,1,1,7,0,0,0,0,0,nan,nan
1,2,NYJ,Blair Thomas,ThomBl00,1990-09-16,1990,2,REG,0,6,46,0,1,1,55,0,0,0,0,0,nan,nan
2,3,NYJ,Blair Thomas,ThomBl00,1990-09-24,1990,3,REG,0,6,31,0,4,1,2,0,0,0,0,0,nan,nan
3,4,NYJ,Blair Thomas,ThomBl00,1990-09-30,1990,4,REG,0,20,100,0,1,1,7,0,0,0,0,0,nan,nan
4,5,NYJ,Blair Thomas,ThomBl00,1990-10-07,1990,5,REG,1,14,62,0,4,4,32,0,0,0,0,0,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,62,CAR,Blair Thomas,ThomBl00,1995-11-26,1995,13,REG,0,5,4,0,0,0,0,0,0,0,0,0,nan,nan
101,63,CAR,Blair Thomas,ThomBl00,1995-12-03,1995,14,REG,0,0,0,0,2,2,19,0,0,0,0,0,nan,nan
102,64,CAR,Blair Thomas,ThomBl00,1995-12-10,1995,15,REG,0,1,8,0,1,0,0,0,0,0,0,0,nan,nan
103,65,CAR,Blair Thomas,ThomBl00,1995-12-17,1995,16,REG,0,0,0,0,1,1,5,0,0,0,0,0,nan,nan
104,66,CAR,Blair Thomas,ThomBl00,1995-12-24,1995,17,REG,0,2,3,0,1,0,0,0,0,0,0,0,nan,nan

Saving Blair Thomas_gamelog.csv at ../tables/players_gamelogs/players/Blair Thomas_gamelog.csv
Successfully saved Blair Thomas_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Blair Thomas
Player (44/442): Bo Jackson
Gamelog for Bo Jackson

,CarGm,Team,Player,pfr_id,Date,Season,Week,Season_type,GS,RushAtt,RushYds,RushTD,Tgt,Rec,RecYds,RecTD,OffSnp,STSnp,SUSP,INJ,Game Status,Injuries
0,0,RAI,Bo Jackson,JackBo00,1987-09-13,1987,1,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
1,0,RAI,Bo Jackson,JackBo00,1987-09-20,1987,2,DNP,0,0,0,0,0,0,0,0,0,0,0,0,nan,nan
2,0,RAI,Bo Jackson,JackBo00,1987-10-04,1987,4,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
3,0,RAI,Bo Jackson,JackBo00,1987-10-12,1987,5,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
4,0,RAI,Bo Jackson,JackBo00,1987-10-18,1987,6,INJ,0,0,0,0,0,0,0,0,0,0,0,1,Out,Inferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,35,RAI,Bo Jackson,JackBo00,1990-12-10,1990,14,REG,0,18,129,1,1,0,0,0,0,0,0,0,nan,nan
61,36,RAI,Bo Jackson,JackBo00,1990-12-16,1990,15,REG,0,8,117,0,0,0,0,0,0,0,0,0,nan,nan
62,37,RAI,Bo Jackson,JackBo00,1990-12-22,1990,16,REG,0,17,65,0,0,0,0,0,0,0,0,0,nan,nan
63,38,RAI,Bo Jackson,JackBo00,1990-12-30,1990,17,REG,0,11,28,0,4,3,31,0,0,0,0,0,nan,nan
64,39,RAI,Bo Jackson,JackBo00,1991-01-13,1990,19,POST,0,6,77,0,0,0,0,0,0,0,0,0,nan,nan

Saving Bo Jackson_gamelog.csv at ../tables/players_gamelogs/players/Bo Jackson_gamelog.csv
Successfully saved Bo Jackson_gamelog.csv!
Updated gm_log_rtrvd entry to 1 in players_ref.csv for Bo Jackson
Player (45/442): Bob Perryman

KeyboardInterrupt:

In [39]:
# folder_location = f"../tables/players_gamelogs"
# directory_path = Path(folder_location + f"/players")
# file_paths = [entry for entry in directory_path.iterdir() if entry.is_file()]
# file_names = [file.name for file in file_paths]
# lst = []
# for i in file_names:
#     lst.append(i.split("_")[0])
    
# df = pd.read_csv("../tables/players_xref.csv")
# print(len(df[(df.gm_log_rtrvd == 0)].gm_log_rtrvd.tolist()))
# df['gm_log_rtrvd'] = np.where(df.Player.isin(lst), 0, df.gm_log_rtrvd)
# print(len(df[(df.gm_log_rtrvd == 0)].gm_log_rtrvd.tolist()))
# df.to_csv("../tables/players_xref.csv", index=False)
# df

339
442

,Team,ABV,Season,Position,Player,pfr_id,Birth_date,Age,Years_exp,Entry_year,Height,Weight,gm_log_rtrvd
0,Detroit Lions,DET,2011,RB,Aaron Brown,BrowAa00,10/10/1985,25,2,2011,73,205,2
1,Minnesota Vikings,MIN,2024,RB,Aaron Jones,JoneAa00,12/2/1994,29,7,2017,69,208,0
2,Green Bay Packers,GNB,2017,RB,Aaron Ripkowski,RipkAa00,12/20/1992,24,2,2015,73,246,2
3,Atlanta Falcons,ATL,2009,RB,Aaron Stecker,StecAa00,11/13/1975,33,10,2000,70,213,0
4,New York Jets,NYJ,1992,RB,AB Brown,BrowAB00,12/4/1965,26,3,1989,69,210,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,Dallas Cowboys,DAL,2007,RB,Zack Crockett,CrocZa00,12/2/1972,34,12,1996,74,240,0
1238,Cincinnati Bengals,CIN,2024,RB,Zack Moss,MossZa00,12/15/1997,26,4,2020,70,215,0
1239,Miami Dolphins,MIA,2024,RB,Zander Horvath,HorvZa00,12/10/1998,25,2,2022,75,230,2
1240,New York Giants,NYG,2024,RB,Tyrone Tracy Jr,TracTy00,11/23/1999,24,0,2024,71,210,2
1241,New York Jets,NYJ,2022,RB,Zonovan Knight,KnigZo00,4/11/2001,20,0,2022,71,210,2

In [ ]:
# df = pd.read_csv("C:/Users/Rodolfo/Jupyter_files/nfl_project/tables/players_gamelogs/players/Aaron Stecker_gamelog.csv")

# df_temp = df[(df.Season_type.isin(['DNP', 'BYE']))]
# seasons = df_temp.Season.unique().tolist()

# for year in seasons:
#     df_temp2 = df_temp[(df_temp.Season == year)]
#     dnp_weeks = df_temp2.Week.tolist()
#     dnp_weeks.sort()

#     inj_weeks = []
#     big_injury = False
#     for i in dnp_weeks:
#         if i == dnp_weeks[-1]:
#             continue
#         subtract = dnp_weeks[dnp_weeks.index(i) + 1] - i # Compare first week in dnp_weeks list and the next one
#         if subtract == 1:
#             inj_weeks.append(dnp_weeks[dnp_weeks.index(i) + 1])
#             inj_weeks.append(i)
#         else:
#             if big_injury == True:
#                 df['Season_type'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks)) & (df.Season_type != 'BYE')), \
#                                                  'INJ', df.Season_type)
#                 df['INJ'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 1, df.INJ)
#                 df['Game Status'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Out', df['Game Status'])
#                 df['Injuries'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Inferred', df['Injuries'])
#                 big_injury = False
#             inj_weeks.clear()

#         inj_weeks = sorted(list(set(inj_weeks)))
#         if len(inj_weeks) >= 4: # Four DNP rows in a row will update DNP rows to INJ
#             big_injury = True

#     if big_injury == True:
#         df['Season_type'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'INJ', df.Season_type)
#         df['INJ'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 1, df.INJ)
#         df['Game Status'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Out', df['Game Status'])
#         df['Injuries'] = np.where(((df.Season == year) & (df.Week.isin(inj_weeks))), 'Inferred', df['Injuries'])
        
# display(df[(df.INJ == 1)])